
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-font-color: #242424;
  --sbab-orange: #fe620eff;
  --background-color: #ffffffff;
  --card-background-color: #F1F1F3;
  --header-height: 75px;
}
html, * {
  margin: 0;
}

.MainContent {
  padding: 32px;
}

body {
  color: var(--primary-font-color);
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}

.fa_icon {
  margin-right: 8px;
}

h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}